In [2]:
import sqlite3

In [3]:
db_path = "./kwu-lecture-database.db"
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [10]:
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

TeamPlay_normal_to_50_update_query = """
UPDATE lectureTable
SET lecTeamplay = 50
WHERE lecTeamplay = '보통';
"""
TeamPlay_nope_to_0_update_query = """
UPDATE lectureTable
SET lecTeamplay = 10
WHERE lecTeamplay = '없음';
"""
TeamPlay_many_to_90_update_query = """
UPDATE lectureTable
SET lecTeamplay = 90
WHERE lecTeamplay = '많음';
"""

cursor.execute(TeamPlay_normal_to_50_update_query)
cursor.execute(TeamPlay_nope_to_0_update_query)
cursor.execute(TeamPlay_many_to_90_update_query)

conn.commit()
conn.close()

In [11]:
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

Assignment_normal_to_50_update_query = """
UPDATE lectureTable
SET lecAssignment = 50
WHERE lecAssignment = '보통';
"""
Assignment_nope_to_0_update_query = """
UPDATE lectureTable
SET lecAssignment = 10
WHERE lecAssignment = '없음';
"""
Assignment_many_to_90_update_query = """
UPDATE lectureTable
SET lecAssignment = 90
WHERE lecAssignment = '많음';
"""

cursor.execute(Assignment_normal_to_50_update_query)
cursor.execute(Assignment_nope_to_0_update_query)
cursor.execute(Assignment_many_to_90_update_query)

conn.commit()
conn.close()

In [12]:
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

Grade_normal_to_50_update_query = """
UPDATE lectureTable
SET lecGrade = 50
WHERE lecGrade = '보통';
"""
Grade_nope_to_0_update_query = """
UPDATE lectureTable
SET lecGrade = 10
WHERE lecGrade = '너그러움';
"""
Grade_many_to_90_update_query = """
UPDATE lectureTable
SET lecGrade = 90
WHERE lecGrade = '깐깐함';
"""

cursor.execute(Grade_normal_to_50_update_query)
cursor.execute(Grade_nope_to_0_update_query)
cursor.execute(Grade_many_to_90_update_query)

conn.commit()
conn.close()

In [13]:
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

cursor.execute('''
ALTER TABLE LectureTable
ADD COLUMN lecException TEXT;
''')

conn.commit()
conn.close()

In [ ]:
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [15]:
import pandas as pd

In [17]:
conn = sqlite3.connect('./kwu-lecture-database.db')
cursor = conn.cursor()

df = pd.read_csv("./kwu-lecture-timetable.csv")

lecNumLists = df['학정번호'].tolist()

query = '''
SELECT lecNumber
FROM LectureTable
WHERE lecNumber IN ({})
AND lecUrl IS NULL
'''.format(','.join(['?']*len(lecNumLists)))

cursor.execute(query, lecNumLists)
result = cursor.fetchall()

lecNumWithoutUrl = [row[0] for row in result]

conn.close()

print(lecNumWithoutUrl)
print(len(lecNumWithoutUrl))

[]
0

In [24]:
df = pd.read_csv("./kwu-lecture-timetable.csv")

dups = df['학정번호'].duplicated(keep=False)

dup = df[dups]


grouped = dup.groupby('학정번호')

for 학정번호, group in grouped:
    for idx, row in group.iterrows():
        print(f"{idx}행: {', '.join(map(str, row.values))}")
    print()

419행: 420, 0000-1-4628-04, 기초수학및연습, 인융대, 공대 1학년, C1,C2,C3,C4,C5,C6,C7,C8,C9,J5,J6,J7,J8,A1,A2,K1,K2,K3, nan, 1, Null, 교선, 3, 3, 강우석, 금1,2, Null, nan, nan, nan, nan, nan, nan, nan, 일반
729행: 827, 0000-1-4628-04, 기초수학및연습, 인융대,공대 1학년, C1,C2,C3,C4,C5,C6,C7,C8,C9,J5,J6,J7,J8,A1,A2,K1,K2,K3, nan, 1, Null, 교선, 3, 3, 강우석, 금1,2, Null, nan, nan, nan, nan, nan, nan, nan, 일반

In [21]:
import pandas as pd


df = pd.read_csv("./kwu-lecture-timetable.csv")


dups = df['학정번호'].duplicated(keep=False)

dup = df[dups]

grouped = dup.groupby('학정번호')

for 학정번호, group in grouped:
    df.drop(group.index[-1], inplace=True)

df.to_csv('final.csv', index=False, encoding="cp949")

- str: lecNumber - 강의번호
- int: lecUrl - 에타 번호
- str: lecClassification - 강의분류
- str: lecClassName - 강의명
- str: lecSubName - 과목명
- str: lecProfessor - 교수명
- flt: lecStars - 별점
- flt: lecAssignment - 과제
- flt: lecTeamplay - 조모임
- flt: lecGrade - 성적
- str: lecMajor - 전공
- str: lecSummaryReview - 요약 리뷰
- str: lecAttend - 출결
- int: lecLastYear1PeopleNum - 1년전인원
- int: lecLastYear2PeopleNum - 2년전인원
- int: lecLastYear3PeopleNum - 3년전인원
- str: lecCanTake -
- bol: lecIsEngeneering - O/X
- str: lecRequirementClass - 필수 선수 과목
- int: lecCredit - 학점
- str: lecForeignLanguageRatio - 외국어 비율
- str: lecForeignPeopleCanTake - 외국인만 / 외국인불가 / 일반

In [26]:
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

cursor.execute('''
ALTER TABLE LectureTable
ADD COLUMN lecForeignPeopleCanTake TEXT;
''')

conn.commit()
conn.close()

OperationalError: duplicate column name: lecForeignPeopleCanTake

In [27]:
import numpy as np

In [31]:
conn = sqlite3.connect('./kwu-lecture-database.db')
cursor = conn.cursor()

cursor.execute('''
DROP TABLE bunBanTable
''')

In [32]:
conn = sqlite3.connect('./kwu-lecture-database.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS canTakeBunBanTable (
    lecNumber TEXT,
    E1 BOOLEN,
    E2 BOOLEN,
    E3 BOOLEN,
    E4 BOOLEN,
    E5 BOOLEN,
    E6 BOOLEN,
    E7 BOOLEN,
    E8 BOOLEN,
    J1 BOOLEN,
    J2 BOOLEN,
    J3 BOOLEN,
    J4 BOOLEN,
    T1 BOOLEN,
    T2 BOOLEN,
    C1 BOOLEN,
    C2 BOOLEN,
    C3 BOOLEN,
    C4 BOOLEN,
    C5 BOOLEN,
    C6 BOOLEN,
    C7 BOOLEN,
    C8 BOOLEN,
    C9 BOOLEN,
    J5 BOOLEN,
    J6 BOOLEN,
    J7 BOOLEN,
    J8 BOOLEN,
    A1 BOOLEN,
    A2 BOOLEN,
    K1 BOOLEN,
    K2 BOOLEN,
    K3 BOOLEN,
    N1 BOOLEN,
    N2 BOOLEN,
    N3 BOOLEN,
    N4 BOOLEN,
    N5 BOOLEN,
    P1 BOOLEN,
    B1 BOOLEN,
    B2 BOOLEN,
    B3 BOOLEN,
    B4 BOOLEN,
    B5 BOOLEN,
    B6 BOOLEN,
    R1 BOOLEN,
    R2 BOOLEN,
    R3 BOOLEN,
    R4 BOOLEN,
    R5 BOOLEN,
    M1 BOOLEN,
    M2 BOOLEN,
    S1 BOOLEN,
    S2 BOOLEN,
    S3 BOOLEN,
    L1 BOOLEN,
    L2 BOOLEN,
    L3 BOOLEN,
    V1 BOOLEN,
    V2 BOOLEN,
    V3 BOOLEN,
    V4 BOOLEN,
    FOREIGN KEY (lecNumber) REFERENCES LectureTable (lecNumber)
)
''')

conn.commit()

conn.close()

In [37]:
df = pd.read_csv("./kwu-lecture-timetable.csv")

conn = sqlite3.connect('./kwu-lecture-database.db')
cursor = conn.cursor()


for index, row in df.iterrows():
    lecNumber = row['학정번호']
    departments = [] if pd.isna(row['수강가능한학과']) else row['수강가능한학과'].split(',')

    data = {
        'lecNumber': lecNumber,
        'E1': 'E1' in departments,
        'E2': 'E2' in departments,
        'E3': 'E3' in departments,
        'E4': 'E4' in departments,
        'E5': 'E5' in departments,
        'E6': 'E6' in departments,
        'E7': 'E7' in departments,
        'E8': 'E8' in departments,
        'J1': 'J1' in departments,
        'J2': 'J2' in departments,
        'J3': 'J3' in departments,
        'J4': 'J4' in departments,
        'T1': 'T1' in departments,
        'T2': 'T2' in departments,
        'C1': 'C1' in departments,
        'C2': 'C2' in departments,
        'C3': 'C3' in departments,
        'C4': 'C4' in departments,
        'C5': 'C5' in departments,
        'C6': 'C6' in departments,
        'C7': 'C7' in departments,
        'C8': 'C8' in departments,
        'C9': 'C9' in departments,
        'J5': 'J5' in departments,
        'J6': 'J6' in departments,
        'J7': 'J7' in departments,
        'J8': 'J8' in departments,
        'A1': 'A1' in departments,
        'A2': 'A2' in departments,
        'K1': 'K1' in departments,
        'K2': 'K2' in departments,
        'K3': 'K3' in departments,
        'N1': 'N1' in departments,
        'N2': 'N2' in departments,
        'N3': 'N3' in departments,
        'N4': 'N4' in departments,
        'N5': 'N5' in departments,
        'P1': 'P1' in departments,
        'B1': 'B1' in departments,
        'B2': 'B2' in departments,
        'B3': 'B3' in departments,
        'B4': 'B4' in departments,
        'B5': 'B5' in departments,
        'B6': 'B6' in departments,
        'R1': 'R1' in departments,
        'R2': 'R2' in departments,
        'R3': 'R3' in departments,
        'R4': 'R4' in departments,
        'R5': 'R5' in departments,
        'M1': 'M1' in departments,
        'M2': 'M2' in departments,
        'S1': 'S1' in departments,
        'S2': 'S2' in departments,
        'S3': 'S3' in departments,
        'L1': 'L1' in departments,
        'L2': 'L2' in departments,
        'L3': 'L3' in departments,
        'V1': 'V1' in departments,
        'V2': 'V2' in departments,
        'V3': 'V3' in departments,
        'V4': 'V4' in departments,
    }
    
    cursor.execute('''
    INSERT INTO canTakeBunBanTable (lecNumber, E1,E2,E3,E4,E5,E6,E7,E8,J1,J2,J3,J4,T1,T2,C1,C2,C3,C4,C5,C6,C7,C8,C9,J5,J6,J7,J8,A1,A2,K1,K2,K3,N1,N2,N3,N4,N5,P1,B1,B2,B3,B4,B5,B6,R1,R2,R3,R4,R5,M1,M2,S1,S2,S3,L1,L2,L3,V1,V2,V3,V4)
    VALUES (:lecNumber, :E1,:E2,:E3,:E4,:E5,:E6,:E7,:E8,:J1,:J2,:J3,:J4,:T1,:T2,:C1,:C2,:C3,:C4,:C5,:C6,:C7,:C8,:C9,:J5,:J6,:J7,:J8,:A1,:A2,:K1,:K2,:K3,:N1,:N2,:N3,:N4,:N5,:P1,:B1,:B2,:B3,:B4,:B5,:B6,:R1,:R2,:R3,:R4,:R5,:M1,:M2,:S1,:S2,:S3,:L1,:L2,:L3,:V1,:V2,:V3,:V4)
    ''', data)

conn.commit()

conn.close()

In [34]:
conn = sqlite3.connect('./kwu-lecture-database.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS majorRecogBunBanTable (
    lecNumber TEXT,
    E1 BOOLEN,
    E2 BOOLEN,
    E3 BOOLEN,
    E4 BOOLEN,
    E5 BOOLEN,
    E6 BOOLEN,
    E7 BOOLEN,
    E8 BOOLEN,
    J1 BOOLEN,
    J2 BOOLEN,
    J3 BOOLEN,
    J4 BOOLEN,
    T1 BOOLEN,
    T2 BOOLEN,
    C1 BOOLEN,
    C2 BOOLEN,
    C3 BOOLEN,
    C4 BOOLEN,
    C5 BOOLEN,
    C6 BOOLEN,
    C7 BOOLEN,
    C8 BOOLEN,
    C9 BOOLEN,
    J5 BOOLEN,
    J6 BOOLEN,
    J7 BOOLEN,
    J8 BOOLEN,
    A1 BOOLEN,
    A2 BOOLEN,
    K1 BOOLEN,
    K2 BOOLEN,
    K3 BOOLEN,
    N1 BOOLEN,
    N2 BOOLEN,
    N3 BOOLEN,
    N4 BOOLEN,
    N5 BOOLEN,
    P1 BOOLEN,
    B1 BOOLEN,
    B2 BOOLEN,
    B3 BOOLEN,
    B4 BOOLEN,
    B5 BOOLEN,
    B6 BOOLEN,
    R1 BOOLEN,
    R2 BOOLEN,
    R3 BOOLEN,
    R4 BOOLEN,
    R5 BOOLEN,
    M1 BOOLEN,
    M2 BOOLEN,
    S1 BOOLEN,
    S2 BOOLEN,
    S3 BOOLEN,
    L1 BOOLEN,
    L2 BOOLEN,
    L3 BOOLEN,
    V1 BOOLEN,
    V2 BOOLEN,
    V3 BOOLEN,
    V4 BOOLEN,
    FOREIGN KEY (lecNumber) REFERENCES LectureTable (lecNumber)
)
''')

conn.commit()

conn.close()

In [36]:
df = pd.read_csv("./kwu-lecture-timetable.csv")

conn = sqlite3.connect('./kwu-lecture-database.db')
cursor = conn.cursor()


for index, row in df.iterrows():
    lecNumber = row['학정번호']
    departments = [] if pd.isna(row['전공인정학과']) else row['전공인정학과'].split(',')

    data = {
        'lecNumber': lecNumber,
        'E1': 'E1' in departments,
        'E2': 'E2' in departments,
        'E3': 'E3' in departments,
        'E4': 'E4' in departments,
        'E5': 'E5' in departments,
        'E6': 'E6' in departments,
        'E7': 'E7' in departments,
        'E8': 'E8' in departments,
        'J1': 'J1' in departments,
        'J2': 'J2' in departments,
        'J3': 'J3' in departments,
        'J4': 'J4' in departments,
        'T1': 'T1' in departments,
        'T2': 'T2' in departments,
        'C1': 'C1' in departments,
        'C2': 'C2' in departments,
        'C3': 'C3' in departments,
        'C4': 'C4' in departments,
        'C5': 'C5' in departments,
        'C6': 'C6' in departments,
        'C7': 'C7' in departments,
        'C8': 'C8' in departments,
        'C9': 'C9' in departments,
        'J5': 'J5' in departments,
        'J6': 'J6' in departments,
        'J7': 'J7' in departments,
        'J8': 'J8' in departments,
        'A1': 'A1' in departments,
        'A2': 'A2' in departments,
        'K1': 'K1' in departments,
        'K2': 'K2' in departments,
        'K3': 'K3' in departments,
        'N1': 'N1' in departments,
        'N2': 'N2' in departments,
        'N3': 'N3' in departments,
        'N4': 'N4' in departments,
        'N5': 'N5' in departments,
        'P1': 'P1' in departments,
        'B1': 'B1' in departments,
        'B2': 'B2' in departments,
        'B3': 'B3' in departments,
        'B4': 'B4' in departments,
        'B5': 'B5' in departments,
        'B6': 'B6' in departments,
        'R1': 'R1' in departments,
        'R2': 'R2' in departments,
        'R3': 'R3' in departments,
        'R4': 'R4' in departments,
        'R5': 'R5' in departments,
        'M1': 'M1' in departments,
        'M2': 'M2' in departments,
        'S1': 'S1' in departments,
        'S2': 'S2' in departments,
        'S3': 'S3' in departments,
        'L1': 'L1' in departments,
        'L2': 'L2' in departments,
        'L3': 'L3' in departments,
        'V1': 'V1' in departments,
        'V2': 'V2' in departments,
        'V3': 'V3' in departments,
        'V4': 'V4' in departments,
    }
    
    cursor.execute('''
    INSERT INTO majorRecogBunBanTable (lecNumber, E1,E2,E3,E4,E5,E6,E7,E8,J1,J2,J3,J4,T1,T2,C1,C2,C3,C4,C5,C6,C7,C8,C9,J5,J6,J7,J8,A1,A2,K1,K2,K3,N1,N2,N3,N4,N5,P1,B1,B2,B3,B4,B5,B6,R1,R2,R3,R4,R5,M1,M2,S1,S2,S3,L1,L2,L3,V1,V2,V3,V4)
    VALUES (:lecNumber, :E1,:E2,:E3,:E4,:E5,:E6,:E7,:E8,:J1,:J2,:J3,:J4,:T1,:T2,:C1,:C2,:C3,:C4,:C5,:C6,:C7,:C8,:C9,:J5,:J6,:J7,:J8,:A1,:A2,:K1,:K2,:K3,:N1,:N2,:N3,:N4,:N5,:P1,:B1,:B2,:B3,:B4,:B5,:B6,:R1,:R2,:R3,:R4,:R5,:M1,:M2,:S1,:S2,:S3,:L1,:L2,:L3,:V1,:V2,:V3,:V4)
    ''', data)

conn.commit()

conn.close()